* {
  box-sizing: border-box;
  margin: 0;
  line-height: 1.5;
  font-family: 'Courier New', Courier, monospace;
}

body {
  padding: 0px 100px;
}

b {
  font-style: italic;
}

.border {
  display: flex;
  justify-content: flex-end;
white-space: nowrap;
}

footer {
  display: flex;
  justify-content: flex-end;
  padding: 0px 100px;
}
