* {
  box-sizing: border-box;
  margin: 0;
  line-height: 1.5;
  font-family: 'Courier New', Courier, monospace;
}

.header, nav, ul, li, a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: flex-end;
  padding: 0px 5px;
}

body {
  padding: 0px 200px;
}

b {
  font-style: italic;
}

.border {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

a:hover {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 850px) {
body {
  padding: 0px 10px;
}
}